.form__group {
  margin-bottom: 16px;
  .form__label {
    margin-bottom: 8px;
    display: block;
  }
  .form__input {
    display: block;
    padding: 8px 16px;
    width: 100%;
    box-sizing: border-box;
    background-color: #eee;
    border: 1px solid #bbb;
    border-radius: 8px;
  }
}
